.dropdown-menu {
 
  width: 300px !important;
  position: absolute;
  top: 40px;
  list-style: none;
  text-align: start;
  margin-right: 70px;
  opacity: 1;
}

.dropdown-menu li {
  background: whitesmoke;
  cursor: pointer;
  color: black;
}

.dropdown-menu li:hover {
  background: white;
  color: black;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
