#navbar {
 display: grid;
 grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  height: 100px;
  width: 99.8%;
  border: 1px solid gray;
  background-color: white;
}

.div1{
  margin-left: 10px;
 
  margin-top: 12px;
  font-size: 17px;
  text-decoration: none;
  padding-top: 30px;
  font-family: sans-serif;
}
 
.logo1 {
   margin-left: 30px;
   width: 30px;
   height: 30px;
   padding-top: 1px;
}
 #input1{
    vertical-align: top;
    height: 35px;
    padding-left: 20px;
    margin-left: 50px;
    margin-bottom: 40px;
   border-radius: 20px;
  
   background-color: rgb(233,236,239);
   border: none;
 }
 .login{
   margin-left: 50px;
   margin-top: 12px;
   font-size: 17px;
   text-decoration: none;
   padding-top: 35px;
   font-family: sans-serif;
 }
.div2{
   padding: 10px;
   border-radius: 100px;
   height: 45px;
   width: 180px;
   color: white;
   padding-top: 15px;
   text-align: center;
   margin-top: 30px;
   
  
  font-family: sans-serif;
  background-color: rgb(255,66,77);
}
.signup1{
   color: white;
   text-decoration: none;
}
.link{
   text-decoration: none;
   font-family: sans-serif;
}
#logout{
   margin-right: 20px;
}
#navbarbutton{
   color: black;
}
#basic-button{
   text-transform: capitalize;
   color: gray;
   margin-left: 10px;
margin-bottom: 15px;
  font-size: 17px;
  text-decoration: none;
  
  font-family: sans-serif;
 }
 #basic-button:hover{

  text-decoration: underline;

 }
 #menu1>div{
  margin-right: 100px;
 }
 #menu1>p{
   margin-right: 100px;
}
#dropdown-basic{
width: 80px;
border: none;

font-size: 17px;
  text-decoration: none;
 margin-bottom: 40px;
  font-family: sans-serif;
}
#dropdown-basic:hover{
 
  border: none;
  color: black;
  border: 1px solid white;

}
#dropdown-basic{
   background-color: none;
   border: none;
}