.createpage3{
  
    border: 1px solid #e5e3dd;
    width: 55%;
    margin: auto;
   
    
}
.creatediv3_1{
    text-align: left;
   
}
.creatediv3_2{
    width: 70%;
    padding: 34px;
   
}

.creatediv3_2>h1{
  color:rgb(36, 30, 18) ;
  font-weight:600;
  font-size:22px;

  line-height: 32.5px;
  text-align: left;
  vertical-align:baseline;
  font-family: Walsheim, sans-serif;
}
.creatediv3_2>p{
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 1px;
    font-weight:700;
    color: #706c64;
    font-family: aktiv-grotesk, sans-serif;
}
.creatediv3_2>div{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: normal;
    font-weight:700;
    color: #241e12;
    font-family: aktiv-grotesk, sans-serif;
}

.createpageimgdiv3>img{
    margin-top: 100px;
    height: fit-content;
    padding-right: 30px;
   
}
.checkboxdiv3{
    
    padding-bottom: 32px;
    margin-left: 5%;
}

#linlbutt3{
    margin-top: 5%;
    margin-left: 5%;
    padding-bottom: 5px;
}
#linlbutt3p{
    margin-left: 5%;
    padding-bottom: 5px;
    font-size: 14px;
    color:#706c64 ;
    line-height:21px;
    font-weight:400;
}
#linlbutt3p>a{
    color: rgb(0, 73, 124);;
}