#main {
  display: grid;
  width: 80%;
  margin-left: 9.9%;
  margin-top: 50px;
  /* background-color: #ff424d; */
  /* height: 600px; */
  grid-template-columns: repeat(2, 45%);
  justify-content: space-evenly;
  margin-top: 50px;
  padding-bottom: 100px;
}
.div-img {
  width: 450px;
}

#imgtag {
  margin-top: 150px;
  width: 450px;
}
#secondmain {
  margin-left: 50px;
}
a {
  color: grey;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline;
}
