.createpage{
  
    border: 1px solid #e5e3dd;
    width: 60%;
    margin: auto;
    display: inline-flex;
}
.creatediv{
    padding: 28px;
    text-align: left;
   
    width: 90%;
}
.createpageimgdiv>img{
    margin-top: 50px;
   padding-right: 20px;
}
/* .creatediv1{
   border: 1px solid black;
   width: 10px;
} */
.creatediv1>h1{
  color:rgb(36, 30, 18) ;
  font-weight:600;
  font-size:26px;

  line-height: 32.5px;
  text-align: left;
  vertical-align:baseline;
  font-family: Walsheim, sans-serif;
}
.creatediv1>p{
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 1px;
    font-weight:700;
    color: #706c64;
    font-family: aktiv-grotesk, sans-serif;
}

.checkboxdiv{
    display: grid;
    grid-template-columns: auto auto ;
    padding-bottom: 32px;
    margin-left: 5%;
     
}
#span1{
color: #241e12;
font-family:aktiv-grotesk, sans-serif ;
font-size: 16px;
line-height: 24px;
font-weight: 400;
}

#button{
    background-color:rgb(0, 73, 124);
    padding:14.5px 24px;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    border: none;
    
}
#link1{
    color: white;
    text-decoration: none;
}

